.gray-box {
	padding: 24px;
	background-color: #EAEAEA;
	border-radius: 5px;
	border-bottom: 2px solid #d1d1d1;
}

.image-box-edge {
	margin-top: 0px;
	margin-bottom: 16px;
	width: 100%;
	background-color: hsl(0, 0%, 97.5%);
	-webkit-box-shadow: 0px 4px 5px -5px #424242; 
	box-shadow: 0px 4px 5px -5px #424242;
	transition: 0.25s all;
	-webkit-transition: 0.25s all;
}

.image-box-edge:hover {
	margin-top: 8px;
	margin-bottom: 8px;
	-webkit-box-shadow: 0px 0px 2px -1px #424242; 
	box-shadow: 0px 0px 2px -1px #424242;
}

.image-box-edge > .image-box-image {
	height: 150px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.image-box-edge > .image-box-info {
	background-color: hsl(0, 0%, 97.5%);
	padding: 36px;
	text-align: center;
}

.blog-link {
	color: black;
}

.blog-link:hover {
	color: black;
}

#post-body > p {
	line-height: 1.75em;
	font-size: 13pt;
}

#post-body > ul {
	list-style-type: disc;
	font-size: 13pt;
	margin-bottom: 16px;
	padding-left: 1.5em;
	line-height: 1.75em;
}

#post-body > h3 {
	margin-bottom: 12px;
}

#post-body > h4 {
	margin-bottom: 8px;
}